Source: python-anyjson
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: David Watson <dwatson@debian.org>,
           Michael Fladischer <FladischerMichael@fladi.at>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all (>= 3.1.2-12~),
               python3-pytest <!nocheck>,
               python3-setuptools,
Standards-Version: 4.6.1
Homepage: https://bitbucket.org/runeh/anyjson/
Vcs-Git: https://salsa.debian.org/python-team/packages/python-anyjson.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-anyjson
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: python3-anyjson
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Common interface for the best available JSON implementation (Python3 version)
 Loads whichever is the fastest JSON module installed and provides a uniform
 API regardless of which JSON implementation is used. The exceptions will also
 be the same whichever JSON module is used.
 The ranking of the JSON implementations is based on a benchmark.
 .
 This package contains the Python 3 version of the library.
